.header a {
  text-decoration: none;
  font-size: 25px;
  margin-left: 25px;
  font-weight: bolder;
}

.header a:hover {
  color: rgb(216, 58, 58);
}

.header {
  padding: 10px;
  background-color: beige;
  text-align: center;
}

.if-active {
  background-color: aqua;
}